<div class="edit-scents-wrapper">
   {% comment %}
<label class="Billed & Shipped">Billed & Shipped</label>
<select name="Billed & Shipped" id="billednshipped">
  <option value="Ever 1 Month">Every 1 Month</option>
  <option value="Ever 2 Month">Every 2 Month</option>
  <option value="Ever 3 Month">Every 3 Month</option>
  <option value="Ever 4 Month">Every 4 Month</option>
</select>
  
  <label class="Number Of Bars">Number Of Bars</label>
<select name="Number Of Bars" id="noofbars">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
</select>

 {% endcomment %}
<div class="text-left scentspop-container">
  <span class="edit-scents-info">Edit Contents</span>  
  <span class="poptoshow text-left">
    <span class="close-pop">x</span>
    <h4>Feature Coming Soon!</h4>
    <p>Until then, to edit your scents, number of bars, or order frequency, please email your new preferences to <a href="mailto:support@swankybadger.com" target="_blank">support@swankybadger.com</a> and we will confirm your changes.</p>
  </span>
  </div>
</div>
