<div class="data-child-type active" data-child-type="Edit Box">
   <h1 class="account_pageTitle">Edit Subscription</h1>
   <div class="col-12 ap__card-header"></div>
   <div class="card ap__card">
      <div class="row ap__card-row Swanky_Box_0010101">
        {% include 'subscription_bars' %}
     </div>
   </div>
</div>
<div class="data-child-type Swanky_Box_00101" data-child-type="Refill Schedule"  style="display: none;">
   <h1 class="account_pageTitle">Refill Schedule</h1>
   <div class="col-12 ap__card-header"></div>
   <div class="card ap__card">
     {% include 'subscription_bars_new' %}
   </div>
</div>