<br><br><div id="stamped-reviews-widget" data-widget-type="visual-gallery" data-feed-type="carousel" data-product-ids="{{ product.id }}" data-with-photos="true" style="margin-bottom: 30px;"></div>

{% schema %}
  {
    "name": "Stamped Visual Gallery",
    "settings": [],
	"presets": [
    {
      "name": "Stamped Visual Gallery",
      "category": "Stamped"
    }
  ]
  }
{% endschema %}

